.status-bar{
    background-color: #b3dee2;
    width: 600px;
    height: 100px;
    border-radius: 15px;
    margin: 10px;

    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #202020;
    font-size: 40px;
    font-weight: 550;
    font-family: math;

    border-style: solid;
    border-color:  #218380;
    border-width: 4px;
}