<button class="home-button" (click)="navigateToHome()">home</button>
<div class="body">
    <app-status-bar [status]="gameStatus"/>
    <app-board 
        (StatusEmitter)="handleStatusChange($event)"
        (StatsEmitter)="handleGameStatsChange($event)"
        [max_rows]="num_rows() || 0"
        [max_columns]="num_columns() || 0" 
        [step_count]="step_count() || 0"
    />
    <div class="stats-bar-and-button">
        <app-game-stats-bar [stats]="gameStats"/>
        <button class="play-again-button" (click)="handleNewGameClick()">new game</button>
    </div>
</div>