.body{
    height: 100%;
}

.play-again-button{
    border-radius: 10px;
    width: 100%px;
    background-color: #b3dee2;
    border-color:  #218380;
    border-width: 4px;
    color: #202020;
    font-family: math;
    font-size: 32px;

    margin-top: 10px;
    margin-left: 10px;
    margin-right: 0px;

    padding: 10px;
}

.stats-bar-and-button{
    width: 600px;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1200px) {
    .play-again-button {
        &:hover {
            background-color: inherit;
        }
    }
}
