@import '../styles.scss';

.home-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background-color: $dark-gray;
}

.title{
    font-weight: 550;
    font-family: "Comic Neue";
    font-size: 50px;
    color: white;
    padding: 50px;
}

.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $light-blue;

    border-style: solid;
    border-color: $dark-blue;
    border-width: 7px;

    border-radius: 25px;
    padding: 10px;

    width: 370px;
    height: 480px;

    &__item{
        font-weight: 550;
        font-family: "Comic Neue";
        font-size: 30px;

        color: $dark-gray;
        margin: 10px;
        transition: 0.1s;

        &:hover{
           transform: scale(1.1);
           cursor: pointer;
        }
    }
}

.octo{
    width: 350px;
    height:  350px;
    background-size: cover;
    background-position: center;
    margin: 20px;
}

.menu-and-octos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}