<div class="home-body">
    <div  class = "title">Welcome to my Tic Tack Toe app!</div>
    <div class="menu">
        <div class="menu__item">my stats</div>
        <div (click)="navigateTo_3x3()" class="menu__item">play 3x3 game</div>
        <div class="menu__item">play 5x5 game</div>
        <div  (click)=" navigateTo_10x10()" class="menu__item">play 10x10 game</div>
        <div class="menu__item">create custom board</div>
        <div class="menu__item">login/sign up</div>
    </div>
</div>
