<button class="home-button" (click)="navigateToHome()" >home</button>
<div class="game-and-octos">
    <img class="octo" src="/octo2.png">
    <div class="body">
        <div *ngIf="opponentName ==='...' || !opponentName" class='share-link' (click)="shareLink()">invite second player</div>
        <div class='opponent'>
            playing with {{opponentName}}
        </div>
        <app-multiplayer-board
            (updateStatusBar)="handleStatusChange($event)"
            [max_rows]="boardSize"
            [max_columns]="boardSize"
            [step_count]="stepCount"
            [resetBoard]="resetBoardTrigger"
            (updateGameState)="updateGame($event)"
            [board]="boardState"
            [isUserX]="isUserX"
            [isBoardDisabled]="isBoardDisabled"
            [winner]="winner"
            [count]="count"
            [opponentName]="opponentName"
        />
        <app-status-bar [status]="gameStatus"/>
    </div>
    <img class="octo" src="/octo1.png">
</div>
