.board-container{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 480px;
  height: 480px;

  &__board{
    width: 100%;
    height: 100%;

    display: grid;

    grid-template-columns: repeat(var(--column-count), 1fr);
    grid-template-rows: repeat(var(--row-count), 1fr);
  }
}

@media (max-width: 1500px) {
  .board-container {
    width: 400px;
    height: 400px;
  }
}


@media (max-width: 1200px) {
  .board-container {
    width: 345px;
    height: 345px;
}
}
