<div class="container">
    <div class="board">
        <app-button [Id]="0" [OnDisplay]='GetValueById(0)' (ButtonEmitter)="getButtonInfo($event)" [isGameFinished]="isBoardDisabled" [isHighlighted]="getButtonColor(0)"></app-button>
        <app-button [Id]="1" [OnDisplay]='GetValueById(1)' (ButtonEmitter)="getButtonInfo($event)" [isGameFinished]="isBoardDisabled" [isHighlighted]="getButtonColor(1)"></app-button>
        <app-button [Id]="2" [OnDisplay]='GetValueById(2)' (ButtonEmitter)="getButtonInfo($event)" [isGameFinished]="isBoardDisabled" [isHighlighted]="getButtonColor(2)"></app-button>
        <app-button [Id]="3" [OnDisplay]='GetValueById(3)' (ButtonEmitter)="getButtonInfo($event)" [isGameFinished]="isBoardDisabled" [isHighlighted]="getButtonColor(3)"></app-button>
        <app-button [Id]="4" [OnDisplay]='GetValueById(4)' (ButtonEmitter)="getButtonInfo($event)" [isGameFinished]="isBoardDisabled" [isHighlighted]="getButtonColor(4)"></app-button>
        <app-button [Id]="5" [OnDisplay]='GetValueById(5)' (ButtonEmitter)="getButtonInfo($event)" [isGameFinished]="isBoardDisabled" [isHighlighted]="getButtonColor(5)"></app-button>
        <app-button [Id]="6" [OnDisplay]='GetValueById(6)' (ButtonEmitter)="getButtonInfo($event)" [isGameFinished]="isBoardDisabled" [isHighlighted]="getButtonColor(6)"></app-button>
        <app-button [Id]="7" [OnDisplay]='GetValueById(7)' (ButtonEmitter)="getButtonInfo($event)" [isGameFinished]="isBoardDisabled" [isHighlighted]="getButtonColor(7)"></app-button>
        <app-button [Id]="8" [OnDisplay]='GetValueById(8)' (ButtonEmitter)="getButtonInfo($event)" [isGameFinished]="isBoardDisabled" [isHighlighted]="getButtonColor(8)"></app-button>
    </div>
</div>