.button{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: #b3dee2;
    border-color:  #218380;
    border-width: 4px;

    transition: all .25s ease-in-out;
}

.button:hover{
    opacity: 1;
    background-color: #218380;
}