@import '../styles.scss';

.game-stats-bar {
    background-color: $yellow;
    width: 350px;
    border-radius: 15px;
    min-height: 80px;

    display: flex;
    flex-direction: row;
    column-gap: 40px;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #202020;
    font-size: 28px;
    font-weight: 550;
    font-family: "Comic Neue";

    border-style: solid;
    border-color: $dark-yellow;
    border-width: 6px;

    margin-left: 0px;
    margin-top: 10px;

    padding: 10px;

    &__stat-item {
      display: flex;
      flex-direction: column;
    }
}

@media (max-width: 1500px) {
.game-stats-bar {
  width: 300px;
  font-size: 22px;
  border-width: 4px;
  padding: 6px;
}
}

@media (max-width: 1200px) {
.game-stats-bar {
  width: 256px;
  border-width: 4px;
  font-size: 24px;
  column-gap: 12px;
  padding: 6px;
}
}
