.game-stats-bar {
    background-color: #b3dee2;
    width: 100%;
    border-radius: 15px;

    display: flex;
    flex-direction: row;
    column-gap: 60px;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #202020;
    font-size: 32px;
    font-weight: 550;
    font-family: math;

    border-style: solid;
    border-color:  #218380;
    border-width: 4px;

    margin-left: 0px;
    margin-top: 10px;

    padding: 15px;

    &__stat-item {
        display: flex;
        flex-direction: column;
    }
}
