$yellow: #ffffa7;
$light-yellow: #fcfcdc;
$medium-yellow: #d9ad3c;
$dark-yellow: #c48f2d;

$highlight-color: #ffacf1;
$highlight-border: #b33a9e;

$light-pink:    #ffacf1;
$dark-pink:     #a3008d;

$light-blue:  #b3dee2;
$dark-blue: #218380;

$dark-gray:     #202020;
$light-blue:    #b3dee2;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}
